<div class="pageDiv">
	<span class="text-muted">每页：</span>
	<select class="form-control" style="width:auto; display:inline" ng-change="countChange()" ng-model="count">
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="50">50</option>
		<option value="100">100</option>
	</select>
	<span class="text-muted">条，共{{dataLen}}条&nbsp;&nbsp;第{{curpage}}/{{pages}}页</span>
	<button class="btn btn-default back" ng-disabled="prevDisabled" ng-click="pagePrev(curpage)"> <i class="glyphicon glyphicon-chevron-left"></i>
	</button>
	<button class="btn btn-default next" ng-disabled="nextDisabled" ng-click="pageNext(pages)"> <i class="glyphicon glyphicon-chevron-right"></i>
	</button>
</div>