html,body{height:100%;}
body{background: #F1F4F6;}
.pageDiv{font-size: 12px;}
.bitian{color:#f00;margin-right: 5px;vertical-align: middle;}
.loading{position: absolute;left:50%;top:50%;color:#f00;width:50px;height:50px;margin:-25px 0 0 -25px;background:url(/static/images/loading.gif) no-repeat center;}



/**
 * nav重置
*/
.navbar{border-radius: 0;border:0;}
.navbar:after{content: '';height:1px;background: #ddd;position:absolute;bottom:0;width:100%;margin-left: 230px;}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover{width:230px;background: #353644;color:#fff;}
/*字体颜色*/
.text-danger{color:#f00;}
/*面包屑*/
.breadcrumb{background: #fff;}
/*顶部下拉菜单*/
.dropdown:hover>.dropdown-menu{display: block;}




/**
 * 表格样式
*/
.box{background: #fff;border:solid 1px #ddd;border-top: 0;position: relative;}
.box .box-header{border-bottom: solid 1px #ddd;padding:15px;}
.box .box-footer{border-top: solid 1px #ddd;padding:12px;background: #f5f5f5;}
.box .box-body{min-height: 200px;overflow-x: auto;}
.box .box-body .table{margin-bottom: 0;min-width: 1200px;}
.box .box-body th{background: #f5f5f5;}
.box .box-body td{vertical-align: middle !important;color:#666;}
.box .box-body form{padding-top: 20px;}



/**
 * 登录页面
*/
.login { width: 350px; margin: 100px auto 0 }
.login .panel-body { padding: 30px; }
.login .error{ color:#f00;}




/**
 * 布局
*/
.content{position: absolute;left:0;top:50px;bottom: 0;width: 100%;padding-left:230px;}
.content .AreaL{height:100%;overflow-y: auto;background: #22222C;float: left;width:230px;margin-left: -230px;}
.content .AreaR{height:100%;overflow-y: auto;padding: 20px;}




/**
 * 左侧菜单
*/
.loginInfo{display: none;}
.sidebar-menu {margin: 10px 15px;}
.sidebar-menu span{display:block;cursor: pointer;position: relative;padding-left:15px;line-height:35px;}
.sidebar-menu .glyphicon-chevron-down,.sidebar-menu .glyphicon-chevron-right{margin:8px 10px 0 0;}

/**
 * 响应式菜单
*/
@media (max-width:767px) {
	.navbar:after{margin:0;}
	.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover{background: #f8f8f8;color:#666;}
	.content{padding:0;}
	.content .AreaL{width:auto;height:auto;float:none;margin:0;background: #f8f8f8;border-bottom:solid 1px #ddd;position: fixed;top:50px;width: 100%;max-height:200px;overflow-y: auto;padding:10px;z-index: 10;box-shadow: 0 0 15px #ccc; }
	.loginInfo{display: block;}
	.content.false .AreaL{display: none;}
	.content .AreaR{padding: 10px;}
	.sidebar-menu {margin: 10px 0;}
}